* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f5f5f5;
}

nav {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    position: sticky;
    top: 0;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: orange;
}

#menu {
    display: none;
}

.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

section {
    padding: 60px 10%;
}

footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 20px;
    margin-top: 0;
}

/* Mobile */

@media(max-width:768px) {

    .menu-btn {
        display: block;
    }

    nav {
        flex-wrap: wrap;
    }

    nav ul {
        display: none;
        width: 100%;
        flex-direction: column;
        margin-top: 15px;
    }

    #menu:checked~ul {
        display: flex;
    }

    nav ul li {
        margin: 10px 0;
    }

}

/* ================= HOME ================= */

#home {
    background: #0b111b;
    padding: 90px 20px;
    text-align: center;
}

.home-container {
    max-width: 1000px;
    margin: auto;
    background: #111c2d;
    border: 1px solid #2c4366;
    border-radius: 20px;
    padding: 60px;
    text-align: center;
}

.profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #00d4ff;
    margin-bottom: 25px;
}

.hello {
    color: #00d4ff;
    margin-bottom: 10px;
    font-family: monospace;
}

.home-container h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 15px;
}

.home-container h3 {
    color: #00d4ff;
    font-weight: 400;
    margin-bottom: 20px;
}

.faculty {
    color: #d6e2f0;
    margin-bottom: 10px;
}

.university {
    color: #00d4ff;
    text-decoration: none;
    font-weight: bold;
}

.university:hover {
    text-decoration: underline;
}

.line {
    display: block;
    width: 70px;
    height: 5px;
    background: #00d4ff;
    margin: 35px auto;
    border-radius: 10px;
}

.intro {
    color: #9fb3c8;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

/* ================= ABOUT ================= */

#about {
    background: #0b111b;
    padding: 100px 10%;
}

.about-container {
    max-width: 1100px;
    margin: auto;
}

.about-content {
    margin-left: 60px;
}

.about-content p {
    color: #b8c6d8;
    font-size: 22px;
    line-height: 2;
    margin-bottom: 35px;
}

.highlight {
    color: #00d4ff;
    font-weight: 600;
}

@media(max-width:768px) {

    .about-content {
        margin-left: 0;
    }

    .about-content p {
        font-size: 18px;
    }

}

/* ================= EDUCATION ================= */

#education {
    background: #0b111b;
    padding: 90px 10%;
}

.education-container {
    max-width: 1200px;
    margin: auto;
}

.education-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    flex-wrap: wrap;
    gap: 20px;
}

.education-header h2 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.education-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.education-item h3 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.year {
    display: block;
    color: #00d4ff;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: bold;
}

.education-item p {
    color: #9fb3c8;
    line-height: 1.8;
}

/* Tablet */

@media(max-width:992px) {

    .education-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Mobile */

@media(max-width:768px) {

    .education-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .education-grid {
        grid-template-columns: 1fr;
    }

    .education-header h2 {
        font-size: 36px;
    }

}

/* ================= SKILLS ================= */

#skills {
    background: #0b111b;
    padding: 90px 10%;
}

.skills-container {
    max-width: 1200px;
    margin: auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.skills-item {
    background: #111c2d;
    border: 1px solid #2c4366;
    border-radius: 20px;
    padding: 30px;
}

.skills-item h3 {
    color: #00d4ff;
    font-size: 22px;
    margin-bottom: 20px;
}

.skills-item ul {
    list-style: none;
}

.skills-item ul li {
    color: #9fb3c8;
    line-height: 2;
    font-size: 16px;
}

/* Tablet */
@media(max-width:992px) {

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Mobile */
@media(max-width:768px) {

    .skills-grid {
        grid-template-columns: 1fr;
    }

}

/* ================= EXPERIENCE ================= */

#experience {
    background: #0b111b;
    padding: 90px 10%;
}

.experience-container {
    max-width: 1200px;
    margin: auto;
}

.experience-header {
    margin-bottom: 70px;
}

.experience-title {
    width: fit-content;
}

.experience-header h2 {
    font-size: 48px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section-line{
    display:block;
    width:60px;
    height:5px;
    background:#00d4ff;
    border-radius:10px;
    margin:10px auto 0;
}

.experience-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
}

.experience-item h3 {
    color: #fff;
    font-size: 34px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.experience-item .year {
    display: block;
    color: #00d4ff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

.experience-item p {
    color: #b8c6d8;
    line-height: 1.9;
    font-size: 20px;
    margin-bottom: 12px;
}

/* ================= CONTACT ================= */

#contact {
    background: #0b111b;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
}

.contact-box {
    width: 100%;
    max-width: 900px;
    background: #111c2d;
    border: 1px solid #2c4366;
    border-radius: 20px;
    padding: 60px;
    text-align: center;
}

.contact-box h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.description {
    color: #9db0c7;
    line-height: 1.8;
    margin-bottom: 40px;
}

.contact-list {
    display: inline-block;
    text-align: left;
    color: white;
    line-height: 2.2;
    font-size: 18px;
}

.contact-list li {
    margin-bottom: 10px;
}

.github-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    background: #00d4ff;
    color: #111;
    padding: 15px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.github-btn:hover {
    transform: translateY(-3px);
    background: #fff;
}